* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../Recursos/IMG/aeropuerto.jpg");
    font-family: Arial;
    background-image: url('empty-airport-terminal-lounge-airplane-260nw-758602234.webp');
    background-image: url("../Recursos/IMG/aeropuerto.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}


/*Header*/

header {
    width: 100%;
    height: 70px;
    background-color: #5a90d7;
    color: white;
}

#contenedorHeader {
    width: 95%;
    margin: 0px auto;
}


/*Logo(Nombre de empresa)z*/

#logo {
    float: left;
    width: 230px;
    margin-top: 8px;
    letter-spacing: 1px;
    text-align: center;
    overflow: hidden;
}

#logo>h3 {
    display: block;
    float: right;
    margin-right: 65px;
    margin-top: 5px;
    font-size: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/*Menu de navegacion header*/

#menu {
    float: right;
    height: 70px;
}

#menu ul li {
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    margin: 0px 10px 0px 10px;
    letter-spacing: 1px;
    line-height: 70px;
}

#menu ul li a {
    display: block;
    text-decoration: none;
    color: white;
    transition: all 200ms;
}

#menu ul li a:hover {
    color: #00121b;
    transform: scale(1.2, 1.2);
}

.btn {
    width: 100%;
}

.form-login {
    width: 400px;
    height: 350px;
    background: #b4afcf;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid #017bab;
    color: white;
    border-radius: 10px;
}

.form-login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.controls {
    width: 100%;
    border: 1px solid #017bab;
    color: white;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50px;
}

.controls2 {
    width: 100%;
    color: white;
    border: 1px solid #017bab;
    margin-bottom: 20px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50px;
}

button {
    width: 100%;
    height: 40px;
    background: #5a90d7 !important;
    border: none !important;
    color: white;
    margin-bottom: 20px;
    border-radius: 50px !important;
}

button:hover {
    background: #3a6091 !important;
}

.form-login p {
    margin-top: 10px;
    font-size: 12px;
    border: none;
    color: white;
    margin-bottom: 16px;
}

.form-login p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.form-login a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-size: 14px;
}

.form-login a:hover {
    text-decoration: underline;
}